<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>
	AUTO PARTS SHOP
	</title>
<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
<div class="main">
<div class="header">
  <table border="0" >
  <tr><td rowspan="2" style="border-bottom: none"><img src="imgs/logo.png" alt="bhcc" height="80" width="400" /></td><td width="640" valign="top" class="tdy"></td></tr>
  <tr><td style="text-align:right;border-bottom: none">
 <div id="navcontainer">
<ul id="navlist">
<li id="active"><a id="current" href="catalog.php">Home</a></li>
<li>|<a href="signin.php">Register</a></li>
<li>|<a href="addproduct.php">Add product</a></li>
<li>|<a href="inventory.php">Stock</a></li>
<li>|<a href="contact.php">Contact</a></li>
</ul>
</div></td></tr></table></div>
<div class="banner"><img src="imgs/phpt.jpg" alt="php" /></div>
